.bg {
    background-image: url("../../../assets/img/banda_entreperros.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 6rem;
   
  }